@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.head{
    background: #111720;
    text-align: center;
    margin-bottom: 10px;
}
.head-text{
    font-family: 'Handjet', cursive;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.main-container
{
    background: rgb(32,33,36);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(32,33,36);
}
.container-box{
    height: 600px;
    width: 960px;
    background: white;
    border: 10px solid black;
    border-radius: 15px;
    display: grid;
}
.tools
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.toolbox
{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 500px;
    background-color: #111720;
    min-width: 1700px;
    max-width: 2000px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.toolmenu
{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Handjet', cursive;
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
}
.options
{
    display: flex;
    justify-content: center;
    gap: 30px;
}
button
{
    padding: 25px 30px;
    background-color: #050801;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Handjet', cursive;
}
.color-palette
{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    gap: 10px;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    transition: 1s;
    
}

.footer
{
    font-family: 'Handjet', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    background-color: black;
    width: auto;
    height: 50px;
}